{% extends 'base.html' %} {% block content %} {% load static %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/main/product_detail_page.css'%}"
/>


<main class="product-detail-wrapper">
  <section class="product-layout">
    <div class="product-image">
      <img
        src="{% static 'assets/img/milk.png' %}"
        alt="{{ product.name }}"
        width="430"
        height="550"
      />
    </div>
    <div class="product-info">
      <div class="info-top">
        <p class="delivery-type">샛별배송</p>
      <h3 class="product-name">{{ product.name }}</h3>
      <div class="price-info">
        {% if product.discount_rate %}

        <span class="discount-rate">{{ product.discount_rate }}%</span>
        <strong class="sale-price">{{ product.discount_price }} 원</strong>
        {% else %}
        <strong class="price">{{ product.origin_price }} 원</strong>
        {% endif %}
      </div>
    </div>
      <div class="info-guide">
        <p class="label">안내 사항</p>
           <p class="guide-text">{{ product.description }}</p>
      </div>
        <div class="info-selection">
          <p class="label">상품 선택</p>
          <div class="selection-controls">
            <select name="option">
              <option>[선물세트] 유명산지 사과세트 3.6kg (12입)</option>
              <!-- 다른 옵션들… -->
            </select>
            <div class="quantity-controls">
              <button type="button" class="quantity-decrease">-</button>
              <input type="number" id="quantity" value="1" min="1" />
              <button type="button" class="quantity-increase">+</button>
            </div>
          </div>
      </div>
      <div class="info-bottom">
      <div class="total-price">
        <span class="label">총 상품금액:</span>
        <span class="value">
          <span id="total-amount"
            >{% if product.discount_rate %}{{ product.discount_price }}{% else
            %}{{ product.origin_price }}{% endif %}</span
            >원
        </span>
      </div>
      <div class="action-buttons">
        <button type="button" class="add-to-cart">로그인</button>
        
        
      </div>
    </div>
  </section>
  
</main>

<script src="{% static 'js/main/product_detail_page.js'%}"></script>
<div class="screen">
  <div
    style="
      width: 1050px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 20px 0px;
    "
  >
  
<!-- 여기에 후기를 작성하는 폼을 만들어주세요! -->
  

    <div class="product-comment">
      <div class="H1 text-font1" style="margin:10px">상품후기</div>
      <form action="create_comment/" method="POST">
        {% csrf_token %}
        <select name="star" style="margin:10px">
          <option value="별점">별점</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      <input id="text_area" type="textarea" name="content">
      <input id="button_click" type="submit" value="등록" disabled>
      </form>
    </div>
  
    {% for comment in comments %}
    <div
      style="
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 20px 8px;
        border-bottom: solid 1px #d9d9d9;
      "
    >
      <div style="display: flex; justify-content: space-between">
        <p>평점:{{comment.star}}</p>
        <a href="{% url 'main:delete_comment' comment.id %}">삭제</a>
      </div>
      <p class="B1">{{comment.content}}</p>
    </div>
    {% endfor%}
  </div>
</div>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		const button_click=document.getElementById("button_click")
	  const text_area=document.getElementById("text_area")
		
	  text_area.addEventListener("input", (event) => {//textarea에 내용이 들어올 때 마다 확인할 수 있음 
	    if(text_area.value.trim().length > 0) {
	        button_click.disabled = false;//활성화 
	        button_click.style.backgroundColor = "#5e0080";
	    }
	    else {
	        button_click.disabled = true;//비활성화
	        button_click.style.backgroundColor = "#dddddd";
	    }
		});
	});
</script>
{% endblock %}

<!----------------tip!---------------->
<!-- 상품 데이터베이스는 프로젝트에 넣어뒀어요 -->
<!-- 아래와 같은 형식으로 사용하세요 -->

<!-- 데이터 사용 예시 
<img src="{{product.image_url}}" style="width: 100px" />
<p>{{product.name}}</p>
<p>{{product.discount_rate}}%</p>
<p>{{product.discount_price}} 원</p>
<p>{{product.notice}}</p> */
데이터 사용 예시 -->

